<nav>
    <div>
        <a href="/">A Open Message Site| <%= title%></a>
        
    </div>

    <ul>
        <li><a href="/">Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Leave a Warm Message</a></li>
    </ul>
</nav>