
<html lang="en">
<head>
        <%- include('./partials/head.ejs')%>
</head>
<body>

        <%- include('./partials/nav.ejs')%>
    
    <div class="not-found content">
            <h1>Oops</h1>
            <h1>This page doesnt exist</h1>
    </div>

</body>

<%- include('./partials/footer.ejs')%>

</html>