
<html lang="en">
<head>
        <%- include('./partials/head.ejs')%>
</head>
<body>
    
    <h2>This is about our page</h2>
    <%- include('./partials/nav.ejs')%>

        <div class="about content">
            <h2>About Me</h2>
            <p>Its a Website created to keep up with friends, relatives and associates alike. I want the messages
                opened and warm so it coould be viewed from anywhere around the world 
            </p>
           
                <p>Do not remind me Facebook and Twitter are doing the same in a more advanced way. This serves like an opened SMS platform</p>

            <p>As the Developer of this website, I will be working on adding more features.</p>
            
        </div>
    
</body>
<%- include('./partials/footer.ejs')%>
</html>